// $icon-font-path: '../fonts/';

// bower:scss
// endbower

// ****************************************
// Element overwrite
// ****************************************

// 480px
// 764px
// 1024px
// 1366

$frame-color: #fff;
$button-color: #33ffc8;
$about-background: #2a1f7b;
$side-space: 60px;
$side-space-desktop: 80px;

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box !important;
	height: 100%;
	padding: 0;
	margin: 0;
}
*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	max-height: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	width: 100%;
	position: relative;
	background-color: $frame-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
.button {
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

span,
p,
li,
a,
input {
	font-family: Palatino, Georgia, serif;
	color: #383838;
}

footer {
	height: $side-space;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.footer-menu {
		text-align: right;

		ul {
			margin: 0;
			padding-left: 0;

			li {
				display: inline-block;
				padding: 10px;
				vertical-align: middle;

				a {
					text-decoration: none;
				}
			}
		}
	}

	.navbar-right {
		margin-right: 0px;
	}
}

nav.sp-nav {
	display: flex;
	flex-direction: row;
	padding: 5px 15px;
	height: $side-space;
	align-items: center;
	justify-content: space-between;

	.title {
		a {
			color: #383838;
			letter-spacing: 1px;
			font-weight: 300;
			font-family: 'Montserrat', Arial, Helvetica, sans-serif;
			text-decoration: none;
			font-size: 18px;

			span {
				font-family: 'Montserrat', Arial, Helvetica, sans-serif;
			}
		}
		span.sp-jpn {
			padding-left: 10px;
			font-size: 0.8rem;
			letter-spacing: 6px;
		}

		span.sp-jpn-small {
			font-size: 1rem;
			letter-spacing: 6px;
		}

		.title-desktop {
			display: none;
		}
	}

	.menu {
		display: flex;
		height: 100%;

		ul {
			padding-left: 0;
			margin: 0;
			width: 100%;
			display: flex;
			justify-content: space-around;
			align-items: center;
			height: 100%;
		}

		li {
			height: 100%;
			color: transparent;

			// &:first-child {
			// 	margin-right: 10px;
			// }

			a {
				height: 100%;
				color: #383838;
				letter-spacing: 2px;
				font-family: Palatino, Georgia, serif;
				text-decoration: none;

				display: inline-block;
				transition: background 0.3s ease-in;
				text-transform: none;
				position: relative;
				z-index: 1;
				border-color: transparent;
				font-size: 14px;
				padding: 15px;

				&:hover {
					background-color: #eeeeee;
				}
			}

			&.active > a {
				background: lighten($color: $button-color, $amount: 30);
				color: #383838;
			}
		}
	}
}

.button:active,
.button {
	margin: 15px 0;
	border-radius: 5px;
	display: inline-block;
	font-size: 18px;
	color: #ffffff;
	padding: 15px 60px;
	transition: background 0.3s ease-in;
	text-transform: none;
	border: 3px solid #fff;
	position: relative;
	z-index: 1;
	text-decoration: none;
}

.button:hover {
	color: $button-color;
	text-decoration: none;
}

.button:focus {
	outline: none;
}

.button-animated {
	overflow: hidden;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.button-animated::before,
.button-animated::after {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	bottom: 100%;
	left: 0;
	z-index: -1;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button-animated::before {
	background: lighten($color: $button-color, $amount: 30%);
}
.button-animated::after {
	background: $button-color;
}
.button-animated:hover {
	color: #383838;
	border-color: $button-color;
}
.button-animated:hover::before,
.button-animated:hover::after {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}
.button-animated:hover::after {
	-webkit-transition-delay: 0.175s;
	transition-delay: 0.175s;
}

// ****************************************
// ****************************************
// ****************************************
.home {
	.main-content {
		position: relative;
		min-height: calc(100% - #{$side-space * 2});
		display: flex;
		align-items: stretch;

		.content {
			align-self: center;
			padding: 15px;
			display: flex;
			flex-direction: column;
			width: 100%;

			h1.head {
				font-size: 3.5rem;
				padding-left: 15px;
			}

			p {
				padding-left: 15px;
				margin-bottom: 45px;
				font-size: 2rem;
				font-weight: 300;
			}

			h1,
			p {
				color: white;
				margin-top: 0;
			}

			a.button.button-animated {
				display: block;
				margin: 0 auto;
			}
		}
	}

	.web-video-container {
		z-index: -1;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}

	.web-video {
		width: 100%;
		height: 100%;
		position: relative;
		overflow: hidden;
		// background: url(../images/black-medium-checks.png);

		.web-video {
			z-index: -10;
			background: url(../images/bg-poster.jpg) no-repeat;
			background-size: cover;
			object-fit: cover;
			vertical-align: top;
		}
	}
	.credit {
		position: absolute;
		right: 0;
		bottom: 0;
		text-align: right;
		margin: 5px 15px;
		font-size: 1rem;
		font-style: italic;
		color: white;
		a {
			color: white;
		}
	}
}

// /////////////////////////
// /////////////////////////
// About page

body.about {
	display: flex;
	flex-direction: column;

	.sp-nav,
	footer {
		flex-grow: 1;
	}

	.main-content.contact {
		flex-grow: 2;
	}

	.main-content.contact {
		height: calc(100vh - #{$side-space * 2});
		overflow-y: scroll;
	}

	.main-content.contact {
		background: $about-background;

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;

			li {
				a {
					text-decoration: underline;
				}
			}
		}
	}

	.about-container {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: 90px 90px 90px auto;

		.square {
			background: transparent;
			border: 4px solid #ffffff;
			grid-column-start: 7;
			grid-column-end: 13;
			grid-row-start: 2;
			grid-row-end: 4;
			z-index: 2;
			margin-right: 15px;
			margin-top: -15px;
			margin-bottom: 15px;
		}
	}

	.container {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: 120px 120px 120px;
		grid-row-gap: 15px;
	}

	h2.about-header {
		margin-top: 0;
		grid-column-start: 2;
		grid-column-end: 11;
		font-size: 7rem;
		// font-family: 'Montserrat', Arial, Helvetica, sans-serif;
		grid-row-start: 1;
		z-index: 3;
		font-weight: 700;
		color: #ffffff;
	}

	.about-image {
		margin-top: 60px;
		width: 100%;
		height: 100%;
		align-content: flex-end;
		z-index: 1;
		grid-column-start: 6;
		grid-column-end: 12;
		grid-row-start: 1;
		display: inline-block;
		position: relative;
		grid-row-end: 3;

		&:before {
			position: absolute;
			bottom: -15%;
			right: -15%;
			width: 100%;
			height: 100%;
			border: 4px solid #ffffff;
			content: '';
		}

		img {
			width: 100%;
			height: auto;
		}
	}

	p.about-description {
		color: #ffffff;
		font-size: 1.3rem;
		padding: 0;
		grid-column-start: 2;
		grid-column-end: 12;
		grid-row-start: 4;
		line-height: 1.4;
	}

	.container-info {
		grid-template-rows: 60px auto 60px 60px auto 60px 60px auto 60px;
	}
}

.prizes-container,
.skills-container,
.work-container {
	padding: 15px 30px 15px 45px;
	grid-auto-rows: min-content;

	h2 {
		font-size: 2.5rem;
	}

	p,
	li {
		font-size: 1.1rem;
	}

	.subtitle {
		font-weight: bold;
	}

	ul li {
		margin-bottom: 5px;
		margin-left: 30px;
		list-style-type: disc;
	}
}

.skills-container {
	grid-column-start: 1;
	grid-column-end: 11;
	background: #33ffc8;
	justify-self: stretch;

	grid-row-start: 1;
	grid-row-end: 5;

	padding-bottom: 90px;

	ul li {
		margin-bottom: 5px;
		margin-left: 35px;
		list-style-type: disc;

		a {
			color: #383838;
		}
	}
}

.prizes-container {
	grid-column-start: 3;
	grid-column-end: 13;
	background: white;

	grid-row-start: 4;
	grid-row-end: 9;

	z-index: 1;

	ul li {
		margin-bottom: 30px;
		margin-left: 0;
		list-style-type: none;
	}
}

.work-container {
	padding-top: 180px;

	background: #383838;

	grid-row-start: 8;
	grid-row-end: 13;

	grid-column-start: 1;
	grid-column-end: 11;

	color: #ffffff;

	ul,
	li,
	p,
	a {
		color: white;
	}
}

// /////////////////////////
// /////////////////////////
// /////////////////////////
// /////////////////////////
// Media queries

@media (max-width: 320px) {
	html {
		font-size: 10px;
	}

	.button:active,
	.button {
		display: block;
		text-align: center;
		padding: 12px 45px;
	}
}

@media (min-width: 321px) and (max-width: 480px) {
	html {
		font-size: 12px;
	}
}

@media (min-width: 480px) and (max-width: 767px) {
	body.about {
		.about-container {
			.about-image {
				grid-column-start: 8;
			}

			.square {
				grid-column-start: 9;
				grid-row-end: 4;
			}
		}
	}
}

@media (max-width: 767px) {
	.web-video-container {
		padding: 0;
	}

	.web-video {
		background: url(../images/black-small-checks.png);
	}

	footer {
		.footer-brand {
			text-align: center;
			display: block;
			float: none;
		}

		.nav.navbar-nav.navbar-right {
			display: block;
			text-align: center;
			margin-bottom: 20px;
			margin-left: 0;
			margin-right: 0;

			li {
				display: inline-block;
			}
		}
	}

	// /////
	// about
}

@media (min-width: 768px) {
	html {
		font-size: 14px;
	}

	nav.sp-nav {
		padding: 15px $side-space;
		height: $side-space-desktop;

		.title {
			.title-desktop {
				display: inline;
			}

			.title-mobile {
				display: none;
			}
		}
	}

	footer {
		padding: 15px $side-space;
		height: $side-space-desktop;
	}

	.home {
		.main-content {
			height: calc(100% - #{$side-space-desktop * 2});
			min-height: 400px;

			p {
				font-size: 1.5rem;
			}

			.content {
				text-align: left;
				width: calc(100% - 120px);
				margin: 0 auto;
				padding: 15px 60px;

				a.button.button-animated {
					display: inline-block;
					margin: 0;
					max-width: 280px;
				}
			}

			.credit {
				font-size: 1rem;
				margin-right: 90px;
			}
		}

		.web-video {
			background: url(../images/black-medium-checks.png);
		}

		.web-video-container {
			padding: 0 60px;
		}
	}

	body.about {
		.main-content.contact {
			width: calc(100% - 120px);
			margin: 0 auto;
		}

		.about-container {
			grid-template-rows: 90px 90px 90px 90px;
			margin-bottom: 30px;

			.about-image {
				grid-column-start: 8;
			}
			.about-description {
				grid-row-start: 4;
			}

			.square {
				grid-row-end: 4;
				grid-column-start: 9;
			}
		}
	}
}

// @media (max-width: 900px) {
// 	html {
// 		font-size: 14px;
// 	}
// }

@media (min-width: 1024px) {
	body.about .about-container {
		padding-top: 60px;
	}

	body.about h2.about-header {
		font-size: 9.2rem;
	}

	body.about .about-container .about-description {
		grid-column-end: 6;
		grid-row-start: 3;
	}

	body.about .about-container .about-image {
		z-index: 2;
		grid-row-end: 4;
		max-width: 350px;
		margin-top: 90px;
	}

	body.about .about-container .square {
		// display: none;
		z-index: 3;
	}

	.skills-container {
		grid-column-end: 9;
	}

	.prizes-container {
		grid-column-start: 9;
		grid-column-end: 13;
		grid-row-start: 1;
	}

	.work-container {
		grid-row-start: 4;
		padding-top: 30px;
		grid-column-start: 1;
		grid-column-end: 13;
	}
}
